body {
  min-width: 200px; /* your desired width */
  min-height: 400px;
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}

button {
  height: 15px;
  width: 50px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}
  
button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}