:root {
    --link-color: darkolivegreen;
}

body {
    display: flex;
    flex-direction: column;
    margin: 5vw 10vw;
    line-height: auto;
    font-family: warnock-pro, serif;
}

h1 {
    letter-spacing: .1ch;
    font-size: 7vw;
}
html {
    background-color: rgb(255, 242, 220);
}

h1, h2, h3 {
    font-family: maxular, sans-serif;
    margin: 0;
}
h2, h3 {
    margin-bottom: .5em;
    font-weight: 100;
    line-height: 1.3em;
}
header {
    max-width: 80%;
    /* padding: 0 2em; */
    /* color: white;
    background-color: rgb(70, 95, 0); */
    /* border: 2px white dotted; */
    font-size: 2.5vw;
}
footer {
    align-self: center;
    font-size: smaller;
    color: var(--link-color);
    margin-top: 1em;
}
a:link {
    color: var(--link-color);
}
#eventcontainer {
    flex-direction: row;
    display: flex;
    border-bottom: 1px rgb(172, 171, 141) dashed;
    padding: 1em 0;
}

#eventcontent {
    display:flex;
    flex-direction: column;
    padding-left: .75em;
    border-left: 1px black dotted;
}

#calendarcontainer{
    aspect-ratio: 1;
    display:flex;
    padding-right: .75em;
    font-family: maxular;
    min-width: 3em;
    width: 31px !important;
    font-weight: 900;
    font-size: 2.5vw;
    flex-direction: column;
    text-align: center;
}



#calendarday {
    line-height: 1ch;
    font-size: 200%;
}
